<p>home works!</p>

<!-- Property values can change, where as attribute value can't  -->

<section class="home-section-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form>
                    <label for="contactName" class="form-label">Name :</label>
                    <input type="text" class="form-control" id="contactName" value="mani">
                </form>
                <button disabled class="btn btn-info" id="contactBtn">Send</button>
                <input type="checkbox" name="" id="contactCheck">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>{{ title }}</p>
                <p>{{ message }}</p>
                <button (click)="onclick()">Click</button>
                <div [hidden]="display" id="hiddenContent">
                    <p>Display this content</p>
                </div>
            </div>
        </div>
        <label for="customer-input">Type something:
            <input id="customer-input" [(ngModel)]="inputValue">
            <p>{{ inputValue }}</p>
          </label> <br>
          <img src="assets/images/angular.png" alt="angular" srcset="" width="400">
          <app-about [childMessage]="parentMessage"></app-about>
    </div>
</section>
